__pycache__/
build/
*.sqlite3
*.egg-info/
\#*#
.#*
*~
*.swp
*.log
.python-version
.venv
katzenpost/
.system-setup.stamp
.coverage
.hypothesis/
.go-cache/
.flatpak-build/
.flatpak-builder/
.flatpak-export/
.flatpak-repo/
.flathub-dist/
patches/kpclientd*.patch
